<ion-view title="Meglévő listák" id="page4" >
    <ion-content padding="true" class="has-header">
	<div id="lista-button-bar1" class="button-bar">
	<button  class="button button-positive button-block" onclick="listaz()" >Mutat <i class="ion-arrow-down-a"></i></button>
	<button  class="button button-assertive button-block" onclick="torollista()" >Töröl <i class="ion-arrow-down-a"></i></button></div>
	<div id="checkList" class="card" ><table calss="table table-bordered" style="width:100%">
       </table>
	</div></ion-content>
</ion-view>