<ion-view style="" id="page2" title="Új lista">
    <ion-content class="has-header" padding="true">
        <form class="list" id="JLista-form1" >
            <label name="nameOfList" id="JLista-input1" class="item item-input">
                <span class="input-label">Cím</span>
                <input placeholder="Lista neve" type="text" id="bevitel" required ="required"></input>
            </label>
        </form>
        <button class="button button-positive  button-block" id="JLista-button2"  onclick="setListName()"  >Tovább</button>
    </ion-content>
	<div class='error'  id='error' style='display:none'>Ki Kell tölteni a mezőket</div>
</ion-view>

