<ion-view title="Start" id="page1">
    <ion-content padding="true" class="has-header">
        <h1 id="start-heading1" style="color:#000000;">Üdvözöllek</h1>
        <a ui-sref="JLista" id="start-button1" class="button button-positive  button-block">Új lista</a>
		   <button  class="button button-positive button-block" onclick="vanez()" >Meglévő listák</button>
      <div id='itemek1'> <table calss="table table-bordered" style="width:100%">
       </table>
	  </div>
    </ion-content>
</ion-view>